<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAccessibilityUsageDescription</key>
	<string>This app needs accessibility permission to switch windows</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Saltabo needs screen recording permission to capture window thumbnails for the app switcher and dock preview.</string>
	<key>SaltaboPurchaseURL</key>
	<string>https://saltabo.xyz/pricing</string>
	<key>SUFeedURL</key>
	<string>https://saltabo.github.io/saltabo/appcast.xml</string>
	<key>SUPublicEDKey</key>
    <string>7wJSBK55be7QJySkD195bQtrNUG/2ezPUlhe/xbn2Eo=</string>
</dict>
</plist>
